/*========================================================
                    Custom propierties 
==========================================================*/

:root {
    /* colores */
    --negro: #120907;
    --blanco: #F3F3F3;
    --gris : #b3b3b3;
    --primero: #003366;
    --segundo: #99ccff;
    --tercero: #e6f2ff;
    --cuarto: #9494b8;

    /* Fuentes */
    --fuentePrincipal : "Roboto Mono", serif;
}

/*========================================================
                        Globales 
==========================================================*/

html {
    box-sizing: border-box; /* Box model */
    font-size: 62.5%; /* 1 REM = 10px */
 
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: var(--blanco);
    font-size: 1.6rem; /* Tamaño fuente */
    line-height: 1.5; /* Interlineado */
}

main {
    margin: 2rem;
}

p {
    font-size: 2rem; /* Tamaño de letra para * parrafos */
    font-family: var(--fuentePrincipal); /* Fuente para * parrafos */
    color: var(--negro) /* Color para  * parrafos */
}

a {
    text-decoration: none; /* Quitar estilo de enlaces por defecto */
}

img {
    width: 100%;
}

h1,h2, h3 {
    /* Estilo general de todos los encabezados */
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal)
}

/* Tamaños de fuente para cada encabezado */
h1 {font-size: 4rem;}
h2 {font-size: 3.2rem;}
h3 {font-size: 2.4rem;}

/*************************************
            NOSOTROS
**************************************/

/* =====================================================
                        Clases 
========================================================*/

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

/* HEADER */
.header {
    display: flex; /* Flex */
    justify-content: center; /* Centrando logo */
}

.header__logo {
    width: 15rem; /* Tamaño del logo */
    margin: 3rem 0; /* Margenes del logo */
    background-color: var(--gris);
    border-radius: 50%;
}

/* BARRA DE NAVEGACIÓN  */
.navegacion {
    background-color: var(--primero);
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 2rem; /* Separar elementos de flex */
}

.navegacion__enlace {
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    /* font-weight: light; */
    color: var(--blanco);
}

.navegacion__enlace--activo,
.navegacion__enlace:hover {
    color: var(--gris);
}

.navegacion__bolsa {
    width: 5rem;
    margin-right: 2rem;
}

/* FOOTER */
.footer {
    background-color: var(--tercero);
    padding: 1rem 0;
    margin-top: 2rem;
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2rem;
}

/* GRID */
.grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

/* PRODUCTO */
.producto {
    background-color: var(--gris);
    /* padding: 1rem; */
    border-radius: 5%;
}

.producto__imagen {
    width: 100%;
}

.producto__informacion {
    text-align: center;
}

.producto__nombre {
    font-size: 2rem;
}

.producto__precio{
    color: var(--primero);
}

.producto__nombre,
.producto__precio {
    font-family: var(--fuentePrincipal);
}

/* GRAFICOS */
.grafico {
    min-height: 30rem;
    background-repeat: no-repeat; /* Quita el auto repeat de las imagenes de fondo */
    background-size: cover; /* usa todo el espacio disponible */
    grid-column: 1 / 3; /* Aplica a ambos en el mismo contenedor de grafico */
}

.grafico--camisas {
    grid-row: 2 / 3;
    background-image: url(../img/grafico1.jpg);
}

.grafico--node {
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9;
}

@media (min-width: 768px) {
     
    .grafico--node {
        grid-column: 2 / 4;
        grid-row: 5 / 6;
    }
}

/*************************************
            NOSOTROS
**************************************/
.usGrid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    column-gap: 2rem;
    align-items: center;
}

.usGrid__texto {
    text-align: center;
}

.usGrid__imagen {
    width: 75%;
    margin: 0 auto;
}

.usGrid__imagen--img {
    border-radius: 8px;
}

@media (min-width: 768px) {
  .usGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .usGrid__texto {
    text-align: right;
}
}

/* TAXES */
.taxes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
    text-align: center;
    justify-content: center;
}

.taxes__icon {
    width: 10rem;
    margin: 0 auto;
}


/*************************************
            PRODUCTO
**************************************/
@media (min-width: 768px) {
  .playera {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    align-items: center;
  }
}


.playera__imagen {
    width: 70%;
    margin: 0 auto;
}

.fomulario {
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    gap: 2rem;
}

.formulario__campo {
    border-color: var(--gris);
    border-width: .3rem;
    border-style: solid;
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    width: 80%;
}

.formulario__submit {
    background-color: var(--gris);
    border: none;
    font-size: 2rem;
    font-weight: bold;
    font-family: var(--fuentePrincipal);
    padding: 1rem 2rem;
    border-radius: 10px;
    grid-column: 1/3;
}

.formulario__submit:hover {
    cursor: pointer;
    background-color: var(--segundo);
}

/*************************************
            BOLSA
**************************************/

@media (min-width: 768px) {
  .bag {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-items: center;
    text-align: center;
  }
}

.bag {
    display: grid;
    justify-items: center;
    text-align: center;
}

.bag__paypalIcon {
    width: 30%;
}

.bag__paypalIcon:hover {
    transform: scale(1.3);
}

.bag__imagen {
    border-radius: 10px;
}

.bag__span--qty {
    color: var(--primero);
}