/* Custom propierties */

:root {
    /* colores */
    --negro: #120907;
    --blanco: #F3F3F3;
    --primero: #221e30;
    --segundo: #4a4768;
    --tercero: #7f76a3;
    --cuarto: #c3a7e6;

    /* Fuentes */
    --fuentePrincipal : "Roboto Mono", serif;
}

/* Globales */

html {
    box-sizing: border-box; /* Box model */
    font-size: 62.5%; /* 1 REM = 10px */
 
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: var(--segundo);
    font-size: 1.6rem; /* Tamaño fuente */
    line-height: 1.5; /* Interlineado */
}

p {
    font-size: 1.8rem; /* Tamaño de letra para * parrafos */
    font-family: Arial, Helvetica, sans-serif; /* Fuente para * parrafos */
    color: var(--blanco) /* Color para  * parrafos */
}

a {
    text-decoration: none; /* Quitar estilo de enlaces por defecto */
}

img {
    width: 100%;
}

h1,h2, h3 {
    /* Estilo general de todos los encabezados */
    text-align: center;
    color: var(--negro);
    font-family: var(--fuentePrincipal)
}

/* Tamaños de fuente para cada encabezado */
h1 {font-size: 4rem;}
h2 {font-size: 3.2rem;}
h3 {font-size: 2.4rem;}

/* Clases */

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.logo-main {
    max-width: 15%;
}